@import 'fonts.css';


/* **** Root **** */
:root {
    --CB: 'Comfortaa-Bold';
    --CR: 'Comfortaa-Regular';
    --MR: 'Monserrat-Regular';
    --MB: 'Monserrat-Bold';
    --RM: 'Roboto-Medium';
    --RR: 'Roboto-Regular';
    --dark_blue: #040D1F;
    --white: #ffffff;
    --grey: #C8C8C8;
    --orang: #ED8E00;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: var(--CB);
    background: var(--dark_blue);
}

.logo-span {
    color: var(--white);
    font-size: 18px;
    line-height: 20px;
}

.btn {
    color: var(--white);
    text-align: justify;
    font-family: var(--RM);
    font-size: 16px;
    line-height: 12px;
    /* 75% */
    max-width: 166px;
    width: 100%;
    background: var(--dark_blue);
    padding: 17px 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    transition: all 500ms;
}

.btn:hover {
    background: var(--orang);
    color: var(--dark_blue);
}


/* **** Root end **** */


/* **** Header start **** */

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-prenav {
    background: linear-gradient(135deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.header-prenav__icon {
    font-size: 50px;
    color: var(--white);
    margin-right: 24px;
}

.header-prenav__text {
    color: #FFF;
    font-family: var(--CR);
    font-size: 16px;
    line-height: 18px;
    max-width: 166px;
    width: 100%;
}

.header-nav {
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
}

.header-nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__list {
    display: flex;
    height: 100px;
}

.header-nav__link {
    color: #FFF;
    text-align: right;
    font-family: var(--MR);
    font-size: 14px;
    line-height: 17px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* urtaga linkni olish uchun*/
    align-items: center;
    position: relative;
    margin-left: 30px;
    transition: all 500ms;
    border-radius: 3px 3px 0px 0px;
}

.header-nav__link:hover {
    color: var(--orang);
}

.header-nav__link:hover.header-nav__link::after {
    width: 100%;
}

.header-nav__link::after {
    content: '';
    display: block;
    height: 2px;
    background: var(--orang);
    position: absolute;
    bottom: 0;
    width: 0%;
    /* sarik chiziklar kurinishi uchun*/
    transition: all 500ms;
}

.header-content {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(7, 15, 25, 0.75);
}

.header-content__img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.header-content__title {
    color: var(--white);
    font-family: var(--MB);
    font-size: 64px;
    line-height: 78px;
}

.header-content__text {
    color: var(--grey);
    text-align: justify;
    font-family: var(--MR);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
    max-width: 570px;
    width: 100%;
    margin: 25px 0 50px 0;
}

.header-content__buttons {
    display: flex;
}



.header-content__btn:first-of-type {
    margin-right: 30px;
}

/* **** Header end **** */
/* meida-start */
@media(max-width:576px){
    .header-nav__list{
        flex-wrap: wrap;
    }
    .header-content__title{
        font-size: 45px;
        line-height: 51px;
    }
}
/* media-end */