@import url(../style/font.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100vh;
}



.header-nav {
    border: 1px solid rgba(125, 115, 115, 0.50);
    background: black;
    backdrop-filter: blur(7.5px);
    display: flex;
}

.header-nav__top {
    display: flex;
    justify-content: space-between;
}

.header-nav__list li {
    display: flex;
}

.header-nav__list {
    display: flex;
    flex-wrap: wrap;
}

.header-nav__link {
    color: #FFF;
    font-family: "RR";
    font-size: 16px;
    line-height: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
    transition: all 500ms;
}

.header-nav__link:hover {
    background: #69CF17BF;
}

.header-nav__logo {
    margin: 10px;
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-family: "RB";
    font-size: 14px;
    border-radius: 4px;
    border: 4px solid #06600F;
    background: rgba(10, 148, 24, 0.75);
}

.header-content {
    background: url(../images/headerBG.jpg) no-repeat center/ cover;
    height: 700px;
}

.header-content__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header-content__tittle {
    color: #69CF17;
    font-family: 'RB';
    font-size: 62px;
    line-height: 85px;
}

.header-content__item {
    color: #69CF17;
    font-family: "RB";
    font-size: 26px;
    line-height: 17px;
    /* 47.222% */
    margin-top: 18px;
}

.header-content__text {
    color: #FFF;
    font-family: 'RR';
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    margin: 18px 0px;

}

.header-content__btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.header-content__left-btn {
    color: #FFF;
    text-align: right;
    font-family: 'RR';
    font-size: 30px;
    line-height: 25px;
    background: rgba(105, 207, 23, 0.50);
    backdrop-filter: blur(9px);
    padding: 33px;
}

.header-content__right-btn {
    color: #FFF;
    text-align: right;
    font-family: "RR";
    font-size: 18px;
    line-height: 21px;
    border-radius: 6px;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    display: flex;
    align-items: center;
    padding: 35px;
}

.header-end__link {
    height: 70px;
}

.header-nav_list li {
    height: 100%;
    display: flex;
}

.header-end_list {
    display: flex;
    background: black;
    height: 100%;
    margin-left: 20px;
}

.header-nav_link {
    color: #FFF;
    font-family: "RR";
    font-size: 18px;
    line-height: 21px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 31px;
    transition: all 500ms;
}

.header-nav_link:hover {
    background: #69CF17BF;
}

/* header-end */




.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.main-block__item:nth-of-type(1) {
    margin-bottom: 30px;
}

.main-block__item:nth-of-type(2) {
    margin-bottom: 30px;
}

.main-block__item:nth-of-type(3) {
    margin-bottom: 30px;
}

.main-block__item:nth-of-type(4) {
    margin-bottom: 30px;
}

.main-block__item:nth-of-type(5) {
    margin-bottom: 30px;
}



.main-block__title {
    text-align: center;
    margin-top: 15px;
    color: #FFF;
    font-family: 'RB';
    font-size: 19px;
    line-height: 15px;
    /* 78.947% */

}

.main-block__text {
    padding-top: 15px;
    text-align: center;
    color: #FFF;
    font-family: 'RR';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 131.579% */
}


.main-block__end {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background: #FFF;
}

.main-block__end-title {
    padding: 20px;
    text-align: center;
    color: #69CF17;
    font-family: 'RB';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 80% */
}

.main-block__end-image {
    width: 100%;
    height: 500px;
}

footer {
    width: 100%;
    height: 30vh;
    background: linear-gradient(180deg, #000 0%, rgba(105, 207, 23, 0.50) 100%);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-nav__logo {
    margin: 10px;
    padding: 15px;
    color: #FFF;
    font-family: "RB";
    font-size: 14px;
    border-radius: 4px;
    border: 4px solid #06600F;
    background: rgba(10, 148, 24, 0.75);
}

.footer-nav__link {
    color: #FFF;
    font-family: "RR";
    font-size: 14px;
    line-height: 21px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
    transition: all 500ms;
}

iframe {
    width: 100%;
}

/*  */

.slide {
    width: calc(100% / 5);
    position: relative;
    transition: all 500ms;
    background: rgba(125, 115, 115, 0.50);
    border-radius: 4px;
    height: 60vh;
    border: 1px solid #FFF;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide h2 {
    position: absolute;
    left: 30px;
    top: 20px;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 400ms;
}

.slide.active h2 {
    opacity: 1;
}

.slide.active {
    width: 40%;
}

.slide p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    font-size: 16px;
    text-transform: lowercase;
    opacity: 0;
    transition: opacity 400ms;
}

.slide.slide.active p {
    opacity: 1;
}

/* media */
@media(max-width:1266px) {
    .slide h2 {
        font-size: 16px;
    }

    .slide p {
        font-size: 14px;
    }

    .slide {
        height: 50vh;
    }
}

@media(max-width:572px) {
    .slide {
        height: 40vh;
    }

    .slide h2 {
        left: 20px;
        top: 10px;
        font-size: 12px;
    }

    .slide p {
        left: 10px;
        bottom: 10px;
        font-size: 12px;
        line-height: normal;
    }
}
@media(max-width:390px) {
    .slide {
        height: 30vh;
    }
    .slide h2 {
        left: 10px;
        top: 5px;
        font-size: 12px;
    }
}